.card
{
    width: 250px;
    height:250px;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
}

label
{
    
    width:max-content;
    color:rgb(230, 69, 41);
    font-size:13px;
    border-bottom: 1px solid red;
    margin: 1px 8px;

    

}

.star
{
    color:gold;
}

.desc
{
    font-size: 14px;
}



form
{
    width: 250px;
    height:250px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

input
{
    border:none;
    border-bottom: 1px solid rgb(102, 80, 80);
}

input::placeholder, textarea::placeholder
{
    font-size: 13px;
    color:rgb(68, 51, 51);
}

.submitButton
{
    border:none;
    padding: 5px;
    border-radius:10px ;
    color:rgb(68, 51, 51);
    background-color: cornflowerblue;
    cursor: pointer;
}

.button
{
    /* border:none;
    padding: 5px;
    border-radius:10px ;
    color:rgb(68, 51, 51);
    background-color: cornflowerblue;
    cursor: pointer; */

    width: 45%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 22px;
    padding-right: 22px;
    font-family: Euclid Circular A;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    line-height: 11px;
    border: solid;
    border-width: 1px;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: inline-block;
    gap: 8px;
    -webkit-transition: .15s;
    transition: .15s;
    color: #001E2B;
    stroke: #001E2B;
    fill: #001E2B;
    border-color: #00684A;
    background-color: #00ED64;
    font-family: 'Euclid Circular A';
   


}

.Login
{
    background-color: chartreuse;
    margin: 9px;
}

.logout
{
    width: 8%;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 22px;
    padding-right: 22px;
    font-family: Euclid Circular A;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    line-height: 11px;
    border: solid;
    border-width: 1px;
    -webkit-text-decoration: none;
    text-decoration: none;
    display: inline-block;
    gap: 8px;
    -webkit-transition: .15s;
    transition: .15s;
    color: #001E2B;
    stroke: #001E2B;
    fill: #001E2B;
    border-color: #00684A;
    background-color: #fa4d08;
    font-family: 'Euclid Circular A';
}

.Register
{
    background-color: rgb(157, 185, 33);
}

.logs, .logout
{
    position: absolute;
    top:10px;
    right:10px;

}

